* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  gap: 0.5rem;
}
main .left,
main .right {
  flex-basis: 50%;
  height: 100%;
  border-radius: 0.7rem;
}

main .left {
  background-color: rgb(17, 18, 18);
  position: relative;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid white;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  color: rgb(11, 11, 11);
  background-color: rgb(226, 235, 235);
  text-align: center;
  height: 30px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  padding: 0.1rem 2rem;
}
main .right {
  background-color: rgb(49, 51, 51);
  overflow: auto;
  padding: 1rem 2rem;
   font-size: 1rem;


}



.left .code pre {
  width: 100%;
  height: 94vh;
  margin: 0px;
  background-color: rgb(30, 29, 29);
  padding: 1rem;
  border-radius: 0.7rem;
}
.review {
  background-color: #1f1f1f;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  transition: transform 0.15s ease, background-color 0.3s ease, box-shadow 0.2s;
  user-select: none;
  margin-top: 1rem;
  display: inline-block;
}

.review:hover {
  background-color: #333;
  box-shadow: 0 0 10px #07aed0aa;
}

.review:active {
  transform: scale(0.95);
  background-color: #07aed0;
  color: black;
}